@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Teste Matheus - Veiga</h1>
    <p style="font-size:20px">A ideia desse projeto era fazer um sistema de gerenciamento de alunos,<br>
    Para isso montei um API usando .NET core e um Web App para consumir essa API.
    Dentro desse sistema fiz 3 classes principais Aluno, Curso e Disciplina,
    a API faz todo o gerenciamento e controle das regras de negocio do nossos sistema e o Web App é apenas responsável por receber e enviar os dados.
    Problemas na Aplicação eu acabei esquecendo que o .NET core já vem com JQuery nele e adicionei um novo import o que fez criar uns conflitos e me fez perde muito tempo do front.<br>
    outra coisa é que o Flurl está dando algum erro e na hora que eu faço um GET passando parametros ele trava a consulta.
    </p>
</div>
